{% extends 'security.html.twig' %}

{% block title %}Mot de passe oublié - Plumbpay{% endblock %}

{% block body %}
    <div class="flex flex-col gap-4 lg:justify-between h-full">
        <div>
            <a href="{{ path('app_login') }}" class="px-4 py-2 text-center rounded-lg bg-mainColor-400 text-TextColor-800 hover:bg-secondaryColor-400 focus:bg-secondaryColor-400">Retour</a>
        </div>
        <div class="flex flex-col gap-4">
            <h1 class="font-bold text-2xl">Mot de passe oublié</h1>
            <p>Veuillez entrer votre adresse e-mail pour recevoir des instructions de réinitialisation de votre mot de passe.</p>
            {% if successMessage %}
                <div class="alert alert-success">{{ successMessage }}</div>
            {% endif %}
        </div>
        <form action="{{ path('forgot_password') }}" method="post" class="flex flex-col gap-4">
            <div>
                <label for="email" class="block">E-mail :</label>
                <input type="email" id="email" name="email" required class="border border-gray-300 rounded px-3 py-2">
            </div>
            <div>
                <button type="submit" class="bg-mainColor-400 text-white rounded px-4 py-2 hover:bg-secondaryColor-400">Envoyer</button>
            </div>
        </form>
        <section>
            <a href="{{ path('app_login') }}" class="font-semibold text-mainColor-400 hover:text-secondaryColor-400 focus:text-secondaryColor-400">Retour à la connexion</a>
        </section>
    </div>
{% endblock %}