{% extends 'security.html.twig' %}

{% block title %}Forgot Password - Plumbpay{% endblock %}

{% block body %}
    <div class="flex flex-col gap-4 lg:justify-between h-full">
        <div>
            <a href="{{ path('front_default_index') }}" class="text-TextColor-400 dark:text-TextColor-800">Go to home</a>
        </div>
        <div class="flex flex-col gap-4">
            <h1 class="font-bold text-2xl">Forgot Password</h1>
            <p>Please enter your email address to receive instructions for resetting your password.</p>
        </div>
        <form action="{{ path('forgot_password') }}" method="post" class="flex flex-col gap-4">
            <div>
                <label for="email" class="block">Email:</label>
                <input type="email" id="email" name="email" required class="border border-gray-300 rounded px-3 py-2">
            </div>
            <div>
                <button type="submit" class="bg-mainColor-400 text-white rounded px-4 py-2 hover:bg-secondaryColor-400">Submit</button>
            </div>
        </form>
        <section>
            <a href="{{ path('app_login') }}" class="font-semibold text-mainColor-400 hover:text-secondaryColor-400 focus:text-secondaryColor-400">Back to login</a>
        </section>
    </div>
{% endblock %}