<div class="flex flex-row gap-4">
    <a href="{{ path('front_app_company') }}" class="btn btn-all">My Company - {{ company.name }}</a>
    {% if 'ROLE_SUPER_ADMIN' in app.user.roles or 'ROLE_ADMIN' in app.user.roles %}
        <a href="{{ path('front_app_company_edit') }}" class="btn btn-edit">Edit</a>
        <a href="{{ path('front_app_company_add_employee') }}" class="btn btn-add">Add Employee</a>
    {% endif %}
</div>