{% extends 'base.html.twig' %}

{% block title %}Edit My Company - {{ company.name }} - Add Employee - PLumbpay{% endblock %}

{% block body %}
    <h1>My Company - Add Employee</h1>
    {{ include('/front/company/_nav.html.twig') }}
    {{ include('/front/company/_form.html.twig', {'button_label': 'Add Employee'}) }}
{% endblock %}