<form method="post" action="{{ path('front_app_client_delete', {'id': client.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');" class="text-center mt-4">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.id) }}">
    <button type="submit" class="inline-flex items-center justify-center px-4 py-2 border border-transparent font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 transition ease-in-out duration-150" style="background-color: #134F63;" onmouseover="this.style.backgroundColor='#05C1FA'" onmouseout="this.style.backgroundColor='#134F63'">
        Delete
    </button>
</form>
