{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <h1>Edit Category</h1>

    {{ include('/front/category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('front_app_category_index') }}">back to list</a>

    {{ include('/front/category/_delete_form.html.twig') }}
{% endblock %}
