<div class="flex flex-row gap-4">
    <a href="{{ path('back_app_user') }}" class="btn btn-all">Show All Users</a>

    <a href="{{ path('back_app_user_edit', {'id': user.id}) }}" class="btn btn-edit">Edit</a>

    {{ include('back/user/_delete_form.html.twig') }}
</div>