{% extends 'base.html.twig' %}

{% block title %}Edit Devis{% endblock %}

{% block body %}
    <h1>Edit Devis</h1>

    {{ include('/front/devis/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('front_app_devis_index') }}">back to list</a>

    {{ include('/front/devis/_delete_form.html.twig') }}
{% endblock %}
