{% extends 'security.html.twig' %}

{% block title %}Login - Plumbpay{% endblock %}

{% block body %}
    <div class="flex flex-col gap-4 lg:justify-between h-full">
        <div>
            <a href="{{ path('front_default_index') }}" class="text-TextColor-400 dark:text-TextColor-800">Go to home</a>
        </div>
        <div class="flex flex-col gap-4">
            <h1 class="font-bold text-2xl">Welcome back to plumbpay !</h1>
            <p>Let's generate some new invoices</p>
        </div>
        {% if error %}
            <section>
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            </section>
        {% endif %}
        {{ include('security/login/_form.html.twig') }}
        <section>
            <p>Forgot password ? <a href="{{ path('forgot_password') }}" class="font-semibold text-mainColor-400 hover:text-secondaryColor-400 focus:text-secondaryColor-400">Recover password</a></p>
        </section>
    </div>

{% endblock %}
