{% extends 'base.html.twig' %}

{% block title %}Plumbpay - Contact Us{% endblock %}

{% block body %}
    <h1>Plumbpay - Contact Us</h1>

    {{ include('front/contact/_form.html.twig') }}
{% endblock %}
