{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
<style>
    .error-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        padding: 0;
    }
    .error-container img {
        max-width: 100%;
        height: auto; /* Rend l'image responsive */
    }
</style>
<div class="error-container">
    <img src="/images/404error.png" alt="Page non trouvée">
</div>
{% endblock %}
