<section id="about-us" class="h-screen w-full flex flex-col items-center bg-mainColor-400">
    <div class="lg:max-w-10xl mx-auto w-full flex flex-col gap-4 mt-32">
        <h1 class="uppercase text-center text-TextColor-800 font-black text-4xl">Why Plumbpay ?</h1>
        <p class="text-center text-TextColor-800">Plumbpay allows you to generate quotes and invoices for your customers in just a few clicks!</p>
    </div>

</section>