<section id="faq" class="w-full flex flex-col gap-8 py-48 bg-mainColor-400">
    <h1 class="uppercase text-center text-TextColor-800 font-black text-4xl">F.A.Q.</h1>
    <div class="max-w-5xl mx-auto">
        <div class="accordions-container">
            <div class="accordion-container">
                <div class="accordion-header">
                    <span class="accordion-btn-text">1. How does Plumbpay simplify the creation of quotes and invoices?</span>
                    <svg class="accordion-icon" width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
                        <path class="fill-bgBody-800 dark:fill-bgBody-400" d="M9.06429 7.5L15 13.4357V15H13.4357L7.5 9.06429L1.56429 15H0V13.4357L5.93571 7.5L0 1.56429V0H1.56429L7.5 5.93571L13.4357 0H15V1.56429L9.06429 7.5Z"/>
                    </svg>
                </div>
                <div class="accordion-content">
                     Plumbpay uses an intuitive interface that allows for quick generation of quotes and invoices. With just a few clicks, you can enter your service details,
                      select clients, and customize the document to your needs. Our system automates calculations and formatting, saving you precious time.
                </div>
            </div>

            <div class="accordion-container">
                <div class="accordion-header">
                    <span class="accordion-btn-text">2. Is it possible to send quotes and invoices directly to clients from Plumbpay?</span>
                    <svg class="accordion-icon" width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
                        <path class="fill-bgBody-800 dark:fill-bgBody-400" d="M9.06429 7.5L15 13.4357V15H13.4357L7.5 9.06429L1.56429 15H0V13.4357L5.93571 7.5L0 1.56429V0H1.56429L7.5 5.93571L13.4357 0H15V1.56429L9.06429 7.5Z"/>
                    </svg>
                </div>
                <div class="accordion-content">
                    Yes, absolutely. Once your quote or invoice is created, you can directly send it to your clients via their registered email address in Plumbpay.
                     This facilitates tracking and ensures your important documents reach your clients without delay.
                </div>
            </div>

            <div class="accordion-container">
                <div class="accordion-header">
                    <span class="accordion-btn-text">3. Does Plumbpay integrate payment tracking functions?</span>
                    <svg class="accordion-icon" width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
                        <path class="fill-bgBody-800 dark:fill-bgBody-400" d="M9.06429 7.5L15 13.4357V15H13.4357L7.5 9.06429L1.56429 15H0V13.4357L5.93571 7.5L0 1.56429V0H1.56429L7.5 5.93571L13.4357 0H15V1.56429L9.06429 7.5Z"/>
                    </svg>
                </div>
                <div class="accordion-content">
                     Yes, Plumbpay integrates payment tracking features that allow you to see the payment status of your invoices in real-time.
                     You can easily monitor paid, pending, or overdue invoices, helping you manage your cash flow more effectively.
                </div>
            </div>

            <div class="accordion-container">
                <div class="accordion-header">
                    <span class="accordion-btn-text">4. How does Plumbpay handle updates and new features?</span>
                    <svg class="accordion-icon" width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
                        <path class="fill-bgBody-800 dark:fill-bgBody-400" d="M9.06429 7.5L15 13.4357V15H13.4357L7.5 9.06429L1.56429 15H0V13.4357L5.93571 7.5L0 1.56429V0H1.56429L7.5 5.93571L13.4357 0H15V1.56429L9.06429 7.5Z"/>
                    </svg>
                </div>
                <div class="accordion-content">
                     We regularly update Plumbpay to introduce new features and improvements based on user feedback. All updates are automatically applied without service interruption,
                    ensuring you always have access to the most recent and efficient version of our platform.
                    We also communicate update details and how they can benefit from new features to our users.
                </div>
            </div>

            <div class="accordion-container">
                <div class="accordion-header">
                    <span class="accordion-btn-text">5. Why should plumbers choose Plumbpay over continuing to use traditional paper methods for their quotes and invoices?</span>
                    <svg class="accordion-icon" width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
                        <path class="fill-bgBody-800 dark:fill-bgBody-400" d="M9.06429 7.5L15 13.4357V15H13.4357L7.5 9.06429L1.56429 15H0V13.4357L5.93571 7.5L0 1.56429V0H1.56429L7.5 5.93571L13.4357 0H15V1.56429L9.06429 7.5Z"/>
                    </svg>
                </div>
                <div class="accordion-content">
                    Plumbpay offers a modern solution that saves you time and enhances your professionalism with sleek, customizable quotes and invoices. 
                    Accessible from anywhere, it simplifies payment tracking and reduces the risks of loss or errors associated with paper. Additionally, 
                    by choosing Plumbpay, you contribute to environmental protection by reducing your paper use. It's the ideal tool for plumbers who want
                    to optimize their management and impress their clients.
                </div>
            </div>
        </div>
    </div>
</section>
