<section id="hero" class="h-screen flex flex-col items-center justify-center">
    <div class="text-center mx-auto w-full lg:max-w-10xl p-4">
        <h4 class="uppercase mb-4 text-4xl font-semibold">Just in <span class="text-mainColor-400">one click</span> with plumbpay</h4>
        <h1 class="uppercase text-mainColor-400 font-black text-8xl">Generate Invoices</h1>
        <div class="mt-8">
            <a href="#about-us" class="px-8 py-4 bg-mainColor-400 text-TextColor-800 hover:bg-secondaryColor-400 focus:bg-secondaryColor-400 rounded-full ">See how !</a>
        </div>
    </div>
</section>