{% extends 'base.html.twig' %}

{% block title %}Account - Plumbpay{% endblock %}

{% block body %}
    <h1>Account - Plumbpay</h1>
    <a href="{{ path('front_app_account_edit') }}">Edit Account</a>
{% endblock %}