{% extends 'base.html.twig' %} 

{% block title %}Paid with Stripe{% endblock %}

{% block body %}
    <h1>PAYER AVEC STRIPE</h1>

    <a href="{{ path('front_app_facture_index') }}">back to list</a>
{% endblock %}